<template>
    <div>
        <Layout></Layout>
    </div>
</template>

<script>
import Layout from "~/framework/components/layouts/Main";
export default {
    name: "App",

    components: { Layout },

    data: () => ({}),

    mounted() {},
};
</script>
