<template>
    <div class="news-card" @click="goToDetailsPage(news.title)">
        <div class="card-content">
            <img :src="news.image" @error="replaceImage" />
            <div class="title">{{ news.title }}</div>
            <div class="subtitle">{{ news.author }}</div>
            <div class="publish-date">{{ news.publishedAt }}</div>
        </div>
    </div>
</template>

<script>
import { imagePlaceholder } from "~/application/config";

export default {
    name: "NewsCard",

    methods: {
        goToDetailsPage(title) {
            this.$store.dispatch("news/setSelectedNews", this.news);
            this.$router.push({
                name: "news-details-page",
                query: { ...this.filters, q: title },
            });
        },
        replaceImage() {
            this.news.image = imagePlaceholder;
        },
    },

    computed: {
        filters() {
            return this.$store.state.filter;
        },
    },

    props: {
        news: {
            required: true,
        },
    },
};
</script>

<style scoped>
.news-card {
    flex: 0 1 350px;
    margin: 5px;
}

.card-content:hover {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
    border: 0;
    cursor: pointer;
}

.card-content {
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #cfb3b3;
}
.card-content * {
    margin-bottom: 10px;
}

.news-card img {
    width: 100%;
}

.news-card .title {
    font-size: 1;
}
.news-card .subtitle {
    font-size: 0.9em;
    color: #898989;
}
.news-card .description {
    font-size: 0.8em;
}
.news-card .publish-date {
    font-size: 0.7em;
}
</style>