<template>
    <select class="field" @change="selectCategory">
        <option
            :key="key"
            v-for="(category, key) of categories"
            :value="category"
            :selected="value === category"
        >
            {{ category | titlecase }}
        </option>
    </select>
</template>

<script>
import { categories } from "~/application/constants";

export default {
    name: "CategoryDropdown",

    methods: {
        selectCategory(e) {
            const value = e.target.value;
            this.$store.dispatch("filter/setCategory", value);
        },
    },

    data: () => ({
        categories,
    }),

    computed: {
        value() {
            return this.$store.state.filter.category;
        },
    },
};
</script>

