<template>
    <select class="field" @change="selectCountry">
        <option
            :key="key"
            v-for="({ code, country }, key) in countries"
            :value="code"
            :selected="value === code"
        >
            {{ country }}
        </option>
    </select>
</template>

<script>
import { countries } from "~/application/constants";

export default {
    name: "CountryDropdown",

    data: () => ({
        countries,
    }),

    methods: {
        selectCountry(e) {
            const value = e.target.value;
            this.$store.dispatch("filter/setCountry", value);
        },
    },

    computed: {
        value() {
            return this.$store.state.filter.country;
        },
    },
};
</script>