<template>
    <div class="filter-container">
        <CountryDropdown />
        <CategoryDropdown />
        <SearchTextField />
        <Loader :show="isLoading" />
    </div>
</template>

<script>
import SearchTextField from "~/framework/components/modules/newsList/SearchTextField";
import CategoryDropdown from "~/framework/components/modules/newsList/CategoryDropdown";
import CountryDropdown from "~/framework/components/modules/newsList/CountryDropdown";

import Loader from "~/framework/components/widgets/Loader";

export default {
    name: "NewsFilter",
    inject: ["isFetching"],
    components: {
        CategoryDropdown,
        SearchTextField,
        CountryDropdown,
        Loader,
    },

    computed: {
        isLoading() {
            return this.isFetching();
        },
    },

    async mounted() {},
};
</script>

<style>
.filter-container {
    position: sticky;
    padding: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    background: #f1f1f1;
    box-shadow: #888888 1px 3px 10px;
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.filter-container > .field {
    flex: 1 0 200px;
    max-width: 200px;
}
</style>
