<template>
    <div class="news-list-page">
        <NewsFilter />
        <div class="flex-container ma-2">
            <h2 class="total-news-count" v-show="totalNews">
                {{ totalNews }} Results
            </h2>
        </div>
        <div class="news-list-container" :class="{ loading: isFetching }">
            <Card
                :news="article"
                :key="key"
                v-for="(article, key) in articles"
            />
        </div>
        <div v-show="allNewsLoaded && !isFetching" class="ma-3 flex-container">
            <h3>No more news</h3>
        </div>
    </div>
</template>

<script>
import NewsService from "~/application/services/news";

import NewsFilter from "~/framework/components/modules/newsList/Filter";
import Card from "~/framework/components/modules/newsList/Card";

export default {
    name: "NewsList",

    components: {
        Card,
        NewsFilter,
    },

    data: () => ({
        articles: [],
        totalNews: 0,
        currentPage: 1,
        isFetching: false,
        scrollTimeout: null,
        allNewsLoaded: false,
    }),

    provide() {
        return {
            isFetching: () => this.isFetching,
        };
    },

    computed: {
        filters() {
            return this.$store.state.filter;
        },
    },

    methods: {
        async getNews() {
            this.isFetching = true;
            return NewsService.headlines({
                ...this.filters,
                page: this.currentPage,
            })
                .then((newsSet) => {
                    this.totalNews = newsSet.total;
                    this.allNewsLoaded = newsSet.articles.length === 0;
                    this.articles = [...this.articles, ...newsSet.articles];
                    return true;
                })
                .catch(() => false)
                .finally(() => {
                    this.isFetching = false;
                });
        },

        isScrolledToBottom() {
            if (this.allNewsLoaded) {
                return;
            }

            if (this.scrollTimeout) {
                clearTimeout(this.scrollTimeout);
            }

            this.scrollTimeout = setTimeout(async () => {
                if (
                    window.innerHeight + window.scrollY >=
                    document.body.offsetHeight
                ) {
                    this.currentPage++;
                    const proceeded = await this.getNews();
                    if (!proceeded) {
                        this.currentPage--;
                        window.scrollTo(0, document.body.scrollHeight - 1500);
                        clearTimeout(this.scrollTimeout);
                    }
                }
            }, 1000);
        },
    },

    watch: {
        filters: {
            deep: true,
            handler() {
                this.currentPage = 1;
                this.articles = [];
                this.getNews();
            },
        },
    },

    created() {
        window.addEventListener("scroll", this.isScrolledToBottom);
    },

    destroyed() {
        window.removeEventListener("scroll", this.isScrolledToBottom);
    },

    mounted() {
        this.getNews();
    },
};
</script>

<style scoped>
.news-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.loading {
    opacity: 0.5;
}
</style>