<template>
    <input
        :value="value"
        placeholder="Search"
        class="field"
        @input="setQuery"
    />
</template>

<script>
export default {
    name: "SearchTextField",

    data: () => ({
        debounceTimer: null,
    }),

    methods: {
        setQuery(e) {
            if (this.debounceTimer) {
                clearTimeout(this.debounceTimer);
            }

            this.debounceTimer = setTimeout(() => {
                const value = e.target.value;
                this.$store.dispatch("filter/setKeyword", value);
            }, 800);
        },
    },

    computed: {
        value() {
            return this.$store.state.filter.q;
        },
    },
};
</script>