<template>
    <div class="loader" v-show="show">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</template>

<script>
export default {
    name: "Loader",
    props: {
        show: {
            default: false,
            type: Boolean,
        },
    },
};
</script>

<style scoped>
.loader {
    display: block;
    position: relative;
    height: 50px;
    flex: 1 1 100%;
    flex-grow: 1;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    /* visibility: hidden; */
}
.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 32px;
    left: calc(50% - 16px);
    height: 32px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ccc transparent transparent transparent;
}
.loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
</style>