<template>
    <div class="news-details-container">
        <img :src="newsData.image" @error="replaceImage" />
        <div class="title">{{ newsData.title }}</div>
        <div class="subtitle">{{ newsData.author }}</div>
        <div class="publish-date">{{ newsData.publishedAt }}</div>
        <div class="content">{{ newsData.content }}</div>
    </div>
</template>

<script>
import NewsService from "~/application/services/news";
import { imagePlaceholder } from "~/application/config";

global.window.$app = {
    $toasted: {
        error: () => {},
    },
};

export default {
    name: "NewsDetails",
    data: () => ({
        searchedData: null,
    }),

    computed: {
        newsData() {
            return (
                this.$store.state.news.selectedNews || this.searchedData || {}
            );
        },
    },

    methods: {
        replaceImage() {
            this.searchedData.image = imagePlaceholder;
        },

        fetchNews() {
            NewsService.getArticleByTitle(this.$route.query)
                .then((news) => {
                    const filters = { ...this.$route.query, q: "" };
                    this.$store.dispatch("filter/setFilters", filters);
                    this.searchedData = news;
                })
                .catch((e) => {
                    console.log(e);
                    this.$router.replace({ name: "home-page" });
                });
        },
    },

    mounted() {
        if (Object.keys(this.newsData).length === 0) {
            this.fetchNews();
        }
    },
};
</script>

<style scoped>
.news-details-container {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.news-details-container > * {
    padding: 10px;
}

.title {
    font-size: 1.5em;
}
.subtitle {
    font-size: 1em;
    color: #898989;
}
.content {
    font-size: 1.2em;
    line-height: 2em;
}
.publish-date {
    font-size: 1em;
}
</style>