<template>
    <div class="header-container pa-1">
        <router-link class="link" :to="{ name: 'home-page' }">
            <span class="title">{{ name }}</span>
        </router-link>
    </div>
</template>

<script>
import { projectName as name } from "~/application/config";

export default {
    name: "Header",

    data: () => ({
        name,
    }),
};
</script>

<style scoped>
.header-container {
    min-height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    background: cadetblue;
}

.header-container .title {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.link {
    text-decoration: none;
}
</style>