<template>
    <div>
        <Header />
        <router-view></router-view>
    </div>
</template>

<script>
import Header from "~/framework/components/layouts/Header";

export default {
    name: "MainLayout",
    components: {
        Header,
    },
};
</script>

