* {
    box-sizing: border-box;
}

html {
    width: 100%;
    min-height: 100%;
}

body {
    width: inherit;
    min-height: inherit;
    margin: 0;
    padding: 0;
}

body * {
    font-family: 'Roboto', sans-serif;
}

.field {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px;
    margin-left: 10px;
    margin-right: 10px;
    outline: none;
}

.flex-container {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.ma-1 {
    margin: 10px;
}

.ma-2 {
    margin: 20px;
}

.ma-3 {
    margin: 30px;
}

.pa-1 {
    padding: 10px;
}

.pa-2 {
    padding: 20px;
}

.pa-3 {
    padding: 30px;
}
